# Object file
*.o
.pyc
__pycache__
__pycache__/
__pycache__/*
/__pycache__
*.pyc
venv
venv/
venv/*
/venv
.idea
.idea/
/.idea
.settings/
*.sublime-workspace
*.code-workspace
# Ada Library Information
*.ali

# System Files
.DS_Store
Thumbs.db
